mat-nav-list mat-list-item-content{
    justify-content:flex-end;
  }

.parentpage{
    /* background-color: #F0F0F0; */
    padding: 5px;
}

.sectionComponent{
  margin-left: 270px;
  /* background-color: #F0F0F0; */
  height: 100%;
  /* border: thick solid gray; */
  overflow-x: hidden;
  overflow-y: hidden
;
}