<!DOCTYPE html>
<div class="parentpage">
<app-app-sidebar></app-app-sidebar>
<div class="sectionComponent">
<router-outlet></router-outlet>
</div>
</div>

<!-- Basic Component template -->
<!-- <div class="<Component wrapper> col-md-12" id="<Component Wrapper ID>>">
    <div class="pageHeading col-md-3 col-md-offset-5 col-sm-7 col-sm-offset-3" id="<ComponentPageHeadingWrapperId>">
     <Component Heading>
    </div>
    <div class="pageContent col-md-12">
          
          <hr class="col-md-8"> 
          <p class="col-md-12 col-sm-12">
            <mat-icon aria-hidden="false" aria-label="section icon" style="vertical-align: middle; color: lightcoral;">warning</mat-icon>&nbsp;
            For furthur info please refer to the other sections through sidebar</p>
    </div>
</div> -->